*{
    background-color: black;
    margin: 0%;
    padding: 0%;
}
.main{
    border: 5px solid black ;
    width: 32em;
    height: 26em;
    background-color: black;
    box-shadow: 5px 5px 5px black ;
    margin-top: 10%;
    
}
.body{
    margin-top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#img1{
    width:100px;
    height: 100px;
    margin: 1%;
    border: 1px solid rgb(85, 84, 84);
    border-radius: 500px;
    box-shadow: 2px 2px 5px rgb(134, 132, 132);

}


